.App {
  height: 100vh;
  width: 100vw;
  padding-top:  100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  margin: 10px 20px;
}

.list-item{
  text-align: center;
  margin: 10px;
  background-color: antiquewhite;
}